<template>
  <div v-if="loading">
    Loading...
  </div>

  <div v-else-if="isEmptyPost">
    Постов пока что нет!
  </div>

  <div v-else>
    <h2>Recent posts:</h2>
    <ul>
      <li v-for="post in posts" v-bind:key="post.id">
        <h3>
          <a class="blog-post-title" href="#">{{ post.title }}</a>
          <p class="blog-post-text">{{ post.text }}</p>
          <div>Дата создания поста: {{ post.created }}</div>
          <div>Последнее редактирования поста: {{ post.edited }}</div>
          <hr>
        </h3>
        <span class="blog-post-author">{{ post.author }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import client from "../api/client";

export default {
  name: "PostList",
  mounted() {
    this.getPosts();
  },
  methods: {
    async getPosts() {
      this.loading = true;
      this.posts = await client.getPosts();
      this.loading = false;
    },
  },
  data() {
    return {
      loading: true,
      posts: [],
    };
  },
  computed: {
    isEmptyPost() {
      return this.posts.length <= 0;
    }
  }
};
</script>

<style>
li {
  list-style-type: none;
}

.blog-post-title {
  color: #1b6d85;
}
</style>
